[Desktop Entry]
Version=1.0
Type=Application
Name=Install Vertex Linux
GenericName=System Installer
Comment=Install Vertex Linux to your hard drive
Exec=vertex-install
Icon=vertex-logo
Terminal=false
StartupNotify=true
Categories=System;
Keywords=install;installer;calamares;setup;
